* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background-color: #f1b645;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(215, 71, 71, 0.1);
    position: relative;
    text-align: center;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #181c5c;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

form input:focus {
    border-color: #555;
    outline: none;
}

form label {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
    gap: 8px;
}

form input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #181c5c;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #444;
}

p {
    margin-top: 20px;
    font-size: 14px;
}

p a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

p a:hover {
    color: #555;
}
